<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Welcome to <b>Mini Watsapp</h2></p>
    <a href="http://localhost:8080/chats">
        <button class="button">See all chats</button>
    </a>
    
</body>
</html>