<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Create a New Chat</h2>
    <form method="POST" action="/chats">
    <input name = "from" placeholder="who are you ?">
    <br>
    <br>
    <textarea name="msg" >write your message here</textarea>
    <br>
    <br>
    <input name = "to" placeholder="send to :">
    <br><br>
    <button class="button">Create Chat</button>
    </form>
</body>
</html>