h1{
    text-align: center;
}
#container{
    height: 600px;
    width: 80%;
    margin: 10px auto;
    border: 2px solid black;
    background-color: rgb(255, 207, 207);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap:wrap; */
    /* align-items: baseline; */
    align-content: flex-start;

}

#org{
    /* align-self: center; */
    flex-basis: 400px;
    flex-grow:1;

}

#container div{
    height: 100px;
    width:80px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
