#container{
    height: 50px;
    width: 900px;
    background-color: rgb(255, 0, 221);
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#container div{
    height:50px;
    width:80px;
    border-radius:10px;
    margin-left:5px;
    font-size:24px;
    line-height:50px;
}
