.Product {
  border: 1px solid rgb(0, 0, 0);
  border-bottom-left-radius: 14px; border-bottom-right-radius: 14px;
  color: rgb(0, 73, 182);
  text-align: center;
  margin:5px;
  height: 150;
  width: 200 ;
  background-color: aqua;
}