/* div{
    height: 200px;
    width: 200px;
    background-color: skyblue;
    transition: 1s;
}
div:hover{
    background-color: black;
    border-radius: 50%;

} */

/* div{
    height: 200px;
    width: 200px;
    background-color: skyblue;
    transition: 1s;
}

div:hover{
    background-color: aqua;
    transform: rotate(45deg);
} */

/* div{
    height: 200px;
    width: 200px;
    background-color: skyblue;
    transition: 1s;
    margin: 0 auto;
} */

/* div:hover{
    transform: scale(2);
    transform: scale(0.5,3);
} */

/* div:hover{
    transform: translate(500px,500px);
} */

/* div:hover{
    transform: skew(30deg);
} */

div{
    height: 500px;
    width: 600px;
    background-color: rgb(0, 169, 236);
    margin: 0 auto;
    background-image: url("img.jpg");
    /* background-size: contain; */
    background-size: cover;
    /* background-size: auto; */
}
/* div:hover{
    box-shadow: 4px 4px 10px rgb(83, 175, 211) ;
} */