.container{
    height: 300px;
    width: 600px;
    background-color: rgb(0, 242, 255);
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 100px 100px 100px; */
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 20px;
    column-gap: 40px; */
    /
}
.item{
    /* height: 50px;
    width: 100px; */
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;
}

.one{
    grid-column-start: 1;
    grid-column-end: 3;
}