<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolldice</title>
</head>
<body>
    <h2>Dice gave you Value: <%= diceVal %> </h2>
    <% if(diceVal == 6){ %>
    <h2>Nice! Roll dice again .....</h2>  
    <% } %> 
</body>
</html>
